.Shipping{
    font-weight: 700;
    margin-bottom: 10px;
}
.Del{
    color: #707070;
    margin-bottom: 15px;
}
.Ship{
    margin-bottom: 25px;
    font-size: 1.953rem;
    font-weight: 400;
}
.WeShip{
    margin-bottom: 10px;
}
